.card-symbol {
  transition: 0.3s all;

  .icon {
    object-fit: cover;
    height: 110px;
    transition: 0.3s all;
  }

  .name {
    color: #c9c9c9;
    font-size: 20px;
    transition: 0.3s all;
  }

  &:hover {
    z-index: 10;
    transform: scale(1.2);
    transition: 0.3s all;

    .icon {
      transition: 0.3s all;
    }

    .name {
      color: white;
      transition: 0.3s all;
    }
  }
}
